<!-- <app-menu></app-menu>
<div class ="bg-image">
    
<h1>Welcome to the IT-Recurting APP</h1>

</div> -->


<div class= "bg-image"> 

    <nav class="navbar navbar-expand-lg navbar-nav-dark-by">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="navbar-brand" [routerLink]="['/logout']" routerLinkActive="router-link-active">Logout <span class="sr-only">(current)</span></a>
          </li>
          </ul>
      </div>

    </nav>
    </div>

<section class ="first">
    <div class ="container"></div>
    </section>
    <section id ="services">
      <div class ="container">
    
        <h4> IT consulting and recruiting agencies match the requirements of the client firms with the skills of 
             their employees and set up the interview between their employees and the client firm. Interviews are 
             then conducted, and the candidates selected in the interview are recruited as consultants in the client’s 
             firm for the duration of the project.The advantage of the web-based application is its availability, 
             as it can be accessed by anyone connected to the Internet and multiple users can access it at the same 
             time. The web-application can be designed as a three-tier architecture, which includes a web client, 
             network servers, and a back-end information system supported by a suite of databases .The goal of this 
             project is to develop a user-friendly web-based application that automates the routine activities for 
             an IT consulting services. </h4>
      </div> 
    </section> 